* {
    margin: 0;
    padding: 0;

}

.app__faq {
  min-height: 60vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 95vh;
   

}
.title {
    font-feature-settings: 'clig' off, 'liga' off;
    color:#000000;
    /* Headings/Typography Size 3 */
    font-family: Actor;
    font-size: 40px;
    margin-bottom: 1rem;
    font-style: normal;
    font-weight: 700;
}
.faq-one, .faq-two, .faq-three {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    margin-top: 2rem;
    border-bottom: 1px solid #e1e1e1;
    cursor: pointer;
    
    padding-bottom: 24px;


}



.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: none;
}
.question h3 {
    color: #103180;
    font-feature-settings: 'clig' off, 'liga' off;
    
    /* Headings/Typography Size 4 */
    font-family: 'Plus Jakarta Sans', sans-serif;
    letter-spacing:1.15px;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    transition: 5s;

}
.faq-link {
    color: blue;
    font-weight: 600;
}
.answer {
    max-height: 0;
    overflow: hidden;

}

.text {

    padding-bottom: 24px;
    font-size: 18px;
    margin-top: 1rem;
    color: #38436C;
    letter-spacing:1.15px;

    font-feature-settings: 'clig' off, 'liga' off;

    /* Paragraph/Default */
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
}

.faq-one.faq.active .answer {
    overflow: hidden;
    height: 0px;
}
.faq-two.faq.active .answer {
   max-width: 350px;
   overflow: hidden;

}
.faq-rotate {
    transform: rotate(180deg) scale(1.1);
    transition: 1s;

}
.faq-three.faq.active .answer {
    max-height: 350px;
    overflow: hidden;
}

@media screen and (max-width: 600px) {
    .title {
        font-size: 26px;
    }
    .question h3 {
        font-size: 16px;
    }
    .app__faq {
        margin-top: 7rem;
    }
   
}