*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.app__hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 2rem 4rem;
}
.hero-section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-top: -9rem;
    margin-left: 3rem;
    z-index: 10;
    
}

.hero-text-under {
    color: #fff;
    font-family: Actor;
    font-size: 20px;
    line-height: 60px; 
    margin-bottom: 1rem;
    font-family: 'Actor', sans-serif;
   
}
.hero-text-under h1 {
    width: 65%;
}
.hero-section p {
    color: #fff;
    font-family: Amiko;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 300% */
    margin-bottom: 1rem;
}
.eclip {
    position:absolute;
    left: -40px;
    top: 30%;
    z-index: 0;
    animation: myAnim 1s ease 0s 1  forwards;

}
.yclip {
    position: absolute;
    right: -67px;
    top: 44%;
    z-index: 0;
    animation: myAnim 5s ease-out 5s 3 forwards;

}
.poly {
    position: absolute;
    right: 24px;
    top: 4%;
    filter: blur(1px);
    z-index: 0.1;


}
.button-text {
    color: #FFF;
    font-family: Amiko;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px; /* 300% */
}
.button:hover {
    background-color: white;
    color: #1C2080;
    border: 1px solid black;

}
.button {
    padding: 8px 11px;
    gap: 10px;

    border-radius: 10px;
    background: #191C78;

    color: #FFF;
    font-family: Amiko;

    font-size: 15px;
    font-weight: 400;
    line-height: 35px; /* 300% */
     border: none;
}
.buttontwo:hover {
    background-color: white;
    animation: bg-anim 10s ease-in infinite;
    color: blue;
}
.buttontwo {
    padding: 8px 15px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background: #191C78;
    background: transparent;
    color: #fff;
    font-family: Amiko;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 300% */
    margin-left: 1.6rem;
    transition: 0.5s;
    border: 0.01px solid #fff;
    
  
}
.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
@media screen and (max-width: 1150px) {
    .hero-section {
        margin-left: 0; 
    }
    .hero-text {
        font-size: 16;
    }
}
@media screen and (max-width: 850px) {
    .hero-section {
        margin-left: 0rem; 
    }
    .hero-text p{
        font-size: 17px;
    }
    .hero-text-under {
        font-size: 20px;
    }
    p {
        font-size: 14px;
    }
    .hero-text-under {
        line-height: 55px;
        
    }
    .button, .buttontwo {
        padding: 0.6rem 0.7rem
    }
}
@media screen and (max-width: 600px) {
    .hero-section {
        margin: 0;
        margin-top: -6rem;
        margin-left: -2rem;
        overflow: hidden;
    }
    .hero-text-under h1 {
        width: 100%;
    }

    .hero-text-under {
    font-size: 15.5px;
    overflow: hidden;
    line-height: 36px; 
    margin-bottom: 1rem;
    width: 100%;
    }

   .button, .buttontwo {
        padding: 0.35rem 0.35rem;
   }
}
@keyframes myAnim {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(-6deg);
	}

	30% {
		transform: translateX(15px) rotate(6deg);
	}

	45% {
		transform: translateX(-15px) rotate(-3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(-1.2deg);
	}
}