* {
    padding: 0;
    margin: 0;
}

.timeline {
    width: 90%;
  
}
.app--timeline {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120vh;
    
    position: relative;
  
   
    background: fit;
    background-repeat: no-repeat;
    background-position: center;
    background-repeat:repeat-y;
 
}

.head-text {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin: 0 4rem;
    margin-bottom: 4rem;
}
.head-text h1 {
    color: #000000;
    font-family: Actor;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: 80px; /* 160% */
}

.head-text p {
    color: rgba(0, 0, 0, 0.8);
    font-family: Amiko;
    font-size: 18px;
    line-height: 30px; /* 200% */
}
.app-under {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 135px;
    margin-left: 5rem;
}
.under-text h1 {
    color: #000000;
    font-family: Actor;
    font-size: 21.278px;
    font-weight: 700;
    margin-bottom: 1rem;
}
.under-text p {
    color: rgba(0, 0, 0, 0.8);
    font-family: Actor;
    font-size: 18px;
    font-weight: 600;
    overflow: hidden;
}
@media screen and (max-width: 1150px) {
    
    .head-text {
        margin:0;
        margin-left: 3rem;
        margin-bottom: 3rem;
    }

   .under-text p{
    width: 70%;
   }
    .app-under {
        gap: 36px;
    }

}
@media screen and (max-width: 900px) {
  
    .app--timeline {
        height: 75vh;
    }
    .timeline {
        width: 100%;
    }
    .app-under {
        margin-left: 2rem;

    }
    .under-text p {
        font-size: 14px;
        width: 100%;

    }
    .under-text h1 {
        font-size: 18px;
    }
    .head-text {
        margin-left: 2rem;
    }
    .head-text h1 {
        font-size: 40px;
    }
     
}
@media screen and (max-width: 630px) {
    
    .head-text h1 {
        line-height: 62px;
    }
    
    .app-under {
        gap: 10px;
    }
    .under-text h1 {
        font-size: 16px;
    }

    .head-text h1 {
        font-size: 35px;   
    };
}