* {
    padding: 0;
    margin: 0;
    overflow-x: hiden;
}
.group {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    height: 190vh;
    margin: 0 7rem;
    width: 100%;

}
.group-head {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 1rem;
}

.group-head h1 {
    color: #040513;
    font-family: Actor;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: 80px; /* 160% */
    width: 100%;
}
.group-head p {
    color: rgba(12, 15, 74, 0.80);
    font-family: Amiko;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 200% */
    margin-bottom: 2rem;
}
.box-group {
   
    display: grid;
    grid-template-rows: 170px 170px 170px;
    grid-template-columns: 500px 500px;
    width: 100%;
    column-gap: 80px;
    row-gap: 10px;   
    overflow: hidden; 
    height: 900px;

    
 

  
    
}
.boxs {
    justify-content: center;
    flex-direction: column;
    flex-grow: nowrap;
    display: flex;
    align-items: flex-start;
    padding: 22px;
    align-self: center;
    justify-content: flex-start;
    gap: 16px;
    width: 410px;
    height: 105px;
    border-radius: 20px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    overflow: hidden;
}
.box-box {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}
.boxs p {
    color: rgba(0, 0, 0, 0.75);
    font-family: Actor;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px; /* 150% */
    overflow: hidden;
    margin-left: 3rem
    }
.boxs img {
    margin-right: 1rem;
    width: 25px;
   
}
.boxs h1 {
    color: #000;
    font-family: Actor;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px; /* 100% */
}
@media screen and (max-width: 1200px) {
    .group {
        margin: 0 4rem;
    }
}
@media screen and (max-width: 1150px) {
    .box-group {
        column-gap: 4px;
        row-gap: 0px;
        grid-template-rows: 170px 170px 170px;
        grid-template-columns: 400px 400px;
    }
    .group {
        margin: 0 3rem;
    }
    .boxs {
        gap: 12px;
        width: 300px;
        height: 95px;
    }
    .boxs p {
       font-size: 16px;
        font-weight: 300;
        line-height: 16px; /* 150% */
    } 
}
@media  screen and (max-width: 930px) {
    .box-group {
        column-gap: 0px;
        row-gap: 0px;
        grid-template-rows: 150px 150px 150px;
        grid-template-columns: 400px 400px;
    }
    
}
@media screen and (max-width: 850px) {
    
    .box-group {
        grid-template-rows: 150px 150px 150px;
        grid-template-columns: 320px 320px;
        row-gap: 30px;
        overflow: hidden;

    }
    .boxs {
        gap: 8px;
        width: 250px;
        height: 120px;
        overflow: hidden;
        line-height: 18px; /* 150% */
    }
    .box-box {
        height: 40px;
        overflow: hidden;
    }
    .box-box img {
        width: 18px;
    }

}
@media screen and (max-width: 730px) {
    .box-group {
        grid-template-rows: 150px 150px 150px;
        grid-template-columns: 350px 350px;
        column-gap: 15px;
        overflow: hidden;
        
    }
    .boxs p {
        margin: 0;
    }
    .boxs h1 {
        font-size: 17px;
        font-weight: 400;
        line-height: 30px; /* 100% */
        overflow-y: hidden;
    }
    
    .boxs {
        gap: 8px;
        width: 250px;
        height: 85px;
        overflow: hidden;
        line-height: 10px; /* 150% */

    }
}
@media screen and (max-width: 750px) {
    .group{
        margin: 0;
        margin-left: 3rem;
        padding: 0px;
    }
    .box-group {
        grid-template-rows: 140px 140px 130px;
        grid-template-columns: 240px 250px;
        column-gap: 15px;
        row-gap: 50px;
        padding: 0px;
    }
    .boxs h1 {
        font-size: 15px;
        font-weight: 400;
         overflow: hidden;
        line-height: 30px; /* 100% */
    }
    .boxs {
        gap: 8px;
        width: 188px;
        
        height: 130px;
        overflow: hidden;
        line-height: 10px; /* 150% */

    }
    .box-box {
        width: 100%;
    }
    
    .boxs p {
      
        font-family: Actor;
        font-size: 15px;
        font-weight: 200;
        line-height: 17px; /* 150% */
        overflow: hidden;
        margin-left: 2rem
    }
}
@media screen and (max-width: 650px) {
    
    .group {
      
        margin-left: 3rem;
    }
    .group-head h1 {
        font-size: 35px;
    }

    .box-group {
        grid-template-rows: 140px 140px 130px;
        grid-template-columns: 170px 200px;
        column-gap: 20px;
        row-gap: 60px;
    }
    .group-head p {
        width: 70%;
    }
    .boxs {
        width: 140px;
        margin-top: 2rem;
        height: 160px;
        overflow: hidden;
        line-height: 10px; /* 150% */
        padding: 16px;
    }
    .boxs p {
      
        font-family: Actor;
        font-size: 14px;
        font-weight: 200;
        line-height: 17px; /* 150% */
        overflow: hidden;
        margin-left: 1rem
    }
    .boxs h1 {

        font-size: 15px;
        font-weight: 400;
         overflow: hidden;
        line-height: 30px; /* 100% */
    }
}
@media screen and (max-width: 400px) {
    .group-head p {
        line-height: 24px;
    }
    .boxs {
        width: 120px;
        margin-top: 2rem;
        height: 160px;
        overflow: hidden;
        line-height: 10px; /* 150% */
        padding: 16px;
    }
    .box-group {
        justify-content: center;
        align-items: center;
        margin:0;
    }
    .box-group {
        grid-template-rows: 140px 140px 130px;
        grid-template-columns: 170px 200px;
        column-gap: 0px;
        row-gap: 60px;
    }
    .boxs img {
        width: 13px;
        margin: 0;
        margin-right: 0.6rem;
    }
    .boxs p {
        font-size: 10;
        margin-left: 0rem;
    }
    .boxs h1 {

        font-size: 13px;
        font-weight: 400;
         overflow: hidden;
        line-height: 30px; /* 100% */
    }
}
@media screen and (maxwidth: 365) {
    .box-group {
        grid-template-rows: 140px 140px 130px 140px 140px 130px;
        grid-template-columns: 500px;
        column-gap: 0px;
        row-gap: 60px;
    }
    
}